[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
pandera = "*"

[dev-packages]
black = "*"
mypy = "*"

[scripts]
bicker = "python bicker.py"
mock = "python bicker.py data/mock_bicker_responses.csv data/mock_members.csv data/mock_bickerees.csv"

[requires]
python_version = "3.9"
